<form [formGroup]="form" *ngIf="isLoaded && !isAdmin">
    <div class="border-primary">
        <div class="row" *ngIf="isLoggedAsAdmin">
            <div class="mb-3 col-5">
                <label>Choose Duties for {{account.firstName}}</label>
                <select formControlName="function" class="form-select"
                    [ngClass]="{ 'is-invalid': submitted && f['function'].errors }">
                    <option *ngFor="let item of functions" [value]='item'>
                        {{ item }}
                    </option>
                </select>

                <div *ngIf="submitted && form.controls['function'].hasError('invalidFunction')"
                    class="alert alert-danger">Duty can't be empty</div>
            </div>

        </div>
        <div class="border border-primary">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:20%">Duty</th>
                    </tr>
                </thead>
                <tbody *ngIf="functions">
                    <tr *ngFor="let s of userFunctions">
                        <td>{{s.userFunction}} </td>
                        <td style="white-space: nowrap" *ngIf="accountService.isAdmin()">

                            <button type="button" (click)="deleteFunction(s)"
                                class="btn btn-sm btn-danger btn-delete-account"> Delete
                            </button>
                        </td>
                </tbody>
                <div class="mb-3">
                    <button type="button" (click)="addFunction()" class="btn btn-primary">
                        Add Duty
                    </button>
                </div>
            </table>
        </div>
    </div>
    <div class="mb-3">
        <a routerLink="/admin/accounts" class="btn btn-link">Back</a>
    </div>

</form>