<h3 class="card-header">Forgot Password</h3>
<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-4">
                <mat-form-field appearance="outline" hideRequiredMarker>
                    <mat-label>DOB</mat-label>
                    <input formControlName="dob" #ref matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                        required />
                    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                    <mat-hint>{{DATE_FORMAT}}</mat-hint>
                    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                        [stepMinute]="1" [stepSecond]="1" [touchUi]="false" [color]="undefined" [enableMeridian]="false"
                        [disableMinute]="false" [hideTime]="true">
                    </ngx-mat-datetime-picker>
                    <mat-error *ngIf="f['dob'].errors">Invalid DOB</mat-error>
                </mat-form-field>

                <!--label>DOB</label>
                <input type="date" formControlName="dob" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }" />
                <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
                    <div *ngIf="f['dob'].errors['required']">DOB is required</div>
                    <div *ngIf="f['dob'].errors['dob']">DOB is invalid</div>
                </div-->
            </div>
        </div>

        <div class="mb-3">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
            </button>
            <a routerLink="../login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>